@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

/* FONTS */
$primary-font:'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;

/* COLORS */
$blue:#6b7a8f;
$orange:#f7882f;
$yellow:#f7c331;
$beige:#dcc7aa;
$light-grey:#D7D7D7;
$dark-grey:#4C4C4C;
$white:#ffffff;
$black:#000000;

body{
  margin:0;
  font-family: $secondary-font;
  background-color: $white;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $primary-font;
}
h1 {font-size: 2.5em;}
h2 {font-size: 2.25em;}
h3 {font-size: 2em;}
h4 {font-size: 1.75em;}
h5 {font-size: 1.5em;}
h6 {font-size: 1.25em;}
p,a,li {font-size: 1em;}

header {
  height: 100vh;
}
section {
  height:100vh;
}
.singing,.pm,.tools,.salesforce,.bootcamp,{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.left-split,.right-split {
  width: 50%;
  height: 100%;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  text-align: center;
}
.left-split > h2, .right-split > h2 {
  font-weight: 700;
  line-height: 1.2em;
  padding-top: 1em;
}
.left-split h3, .right-split h3 {
  font-size: 1em;
  margin: 0;
}
.left-split > p, .right-split p {
  font-size: 1.2em;
  line-height: 1.75em;
  letter-spacing: .02em;
  padding-left: 6em;
  padding-right: 6em;
}
/* HEADER */
#header{
  background-image: url('../images/header2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white;
  text-align: center;
}
#header h1{
  margin:0;
  font-size: 6em;
}
.white-box {background-color: $white;width: 40%;padding: 1em;border-radius: 5px;}
.white-box img {
    height: auto;
    width: 100%;
}
/* TOOLS */
.current,.journey {
  display: flex;
  height: 15%;
  width: 100%;
  justify-content: center;
  align-content: center;
  color: $white;
  text-align: center;
}
.current {background-color: $orange;}
.journey {background-color: $blue;}
.tools .left-split, .tools .right-split {
  height: 70%;
}
.tools .right-split {
    background-color: #dcc7aa;
    color: #fff;
    align-items: center;
}
.find-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#linkedin, #email, #resume {
  display: flex;
  flex-direction: column;
}
#linkedin p, #email p, #resume p {
  padding-left:2em;
  padding-right: 2em;
}
#email_address {margin:0;}
.fa-download {
  color: $white;
  height: 5em;
  width: 5em !important;
}
/* SINGING */
.singing .left-split {
  background-image: url('../images/central_map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* PM */
.pm {
  flex-wrap: wrap-reverse;
}
.pm .right-split {
  background-image: url('../images/rainbow_map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SALESFORCE */
.salesforce .left-split {
  background-image: url('../images/lca_map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOOTCAMP */
.bootcamp {
  flex-wrap: wrap-reverse;
}
.bootcamp .right-split {
  background-image: url('../images/gc_map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CONTACT */
.contact {
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.contact a {
  text-decoration: none;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
}
.contact a:hover {
  color: $orange;
}
/* FOOTER */
#footer{
  background-color: $light-grey;
  color: $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

/* MOBILE */
@media screen and (max-width:1238px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 970px){
  section {
    height: auto;
  }
  .left-split,.right-split {
    width:100%;
  }
  .white-box {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .find-more {
    margin-bottom: 2em;
  }
}
@media screen and (max-width:750px)  {
  #header h1 {
    font-size: 4.5em;
  }
}
@media screen and (max-width:600px)  {
  body{
    font-size: 12px;
  }
}
@media screen and (max-width:400px)  {
  .left-split > p, .right-split p{
    padding-left: 4em;
    padding-right: 4em;
  }
}
