@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
/* FONTS */
/* COLORS */
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.25em; }

p, a, li {
  font-size: 1em; }

header {
  height: 100vh; }

section {
  height: 75vh; }

.singing, .pm, .tools, .salesforce, .bootcamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.left-split, .right-split {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }

.left-split > h2, .right-split > h2 {
  font-weight: 700;
  line-height: 1.2em;
  padding-top: 1em; }

.left-split h3, .right-split h3 {
  font-size: 1em;
  margin: 0; }

.left-split > p, .right-split p {
  font-size: 1.2em;
  line-height: 1.75em;
  letter-spacing: .02em;
  padding-left: 6em;
  padding-right: 6em; }

/* HEADER */
#header {
  background-image: url("../images/header2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  text-align: center; }

#header h1 {
  margin: 0;
  font-size: 6em; }

@media screen and (max-width: 750px) {
  #header h1 {
    font-size: 4.5em; } }
.white-box {
  background-color: #ffffff;
  width: 40%;
  padding: 1em;
  border-radius: 5px; }

.white-box img {
  height: 175px;
  width: auto; }

/* TOOLS */
.current, .journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #ffffff; }

.current {
  background-color: #f7882f; }

.journey {
  background-color: #6b7a8f; }

.tools .left-split, .tools .right-split {
  height: 70%; }

.tools .right-split {
  background-color: #dcc7aa;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.find-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#linkedin, #email, #resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

#linkedin p, #email p, #resume p {
  padding-left: 2em;
  padding-right: 2em; }

#email_address {
  margin: 0; }

.fa-download {
  color: #ffffff;
  height: 5em;
  width: 5em !important; }

/* SINGING */
.singing .left-split {
  background-image: url("../images/central_map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* PM */
.pm .right-split {
  background-image: url("../images/rainbow_map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* SALESFORCE */
.salesforce .left-split {
  background-image: url("../images/lca_map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* BOOTCAMP */
.bootcamp .right-split {
  background-image: url("../images/gc_map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* CONTACT */
.contact {
  background-color: #6b7a8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px; }

.contact a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  text-transform: uppercase; }

.contact a:hover {
  color: #f7882f; }

/* FOOTER */
#footer {
  background-color: #D7D7D7;
  color: #4C4C4C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px; }

/* MOBILE */
@media (max-width: 600px) {
  .left-split, .right-split {
    width: 100%; }

  .pm {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse; }

  .singing .left-split {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 750px; }

  #img_cabaret, #img_cmu, #img_variety {
    width: 100%;
    height: 33%; }

  section {
    height: auto; } }
